.page{
	height: 3000rpx;
}

.sliders{
	margin-top: 0;
	margin-bottom: 30rpx;
	swiper{
		width: 100%;
		height: calc(100vw*600/1080);
		image{
			width: 100%;
		}
	}
}
.banner{
	margin-top: 30rpx;
	image{
		width: 100%;
	}
}
//.categories{
//	navigator{
//		margin-top: 15rpx;
//		float: left;
//		width: 20%;
//		padding: 5rpx,160rpx;
//		text-align: center;
//		image{
//			width: 61%;
//		}
//	}
//	overflow: hidden;
//}
.floorText{
	margin-bottom: 5rpx;

	position: relative;
	width: 750rpx;
	height: 50rpx;
	:nth-child(1){
		position: absolute;
		left: 15rpx;
		font-weight: bold;
		font-size: 36rpx;
	}
	:nth-child(2){
		position: absolute;
		right: 15rpx;
	}
}

.floorImgs{
	display: flex;
	flex-wrap: wrap; //设置要换行
	navigator{
		position: relative;
		width: 375rpx;
		padding: 5rpx;
		image{
			width: 100%;
		}
		.name{
			font-size: 38rpx;
			font-family: STXingkai;
			color: white;
			position: absolute;
			left: 0;
			bottom: 190rpx;
		}
		.slogan{
			margin: 0;
			padding: 0;

			font-size: 28rpx;
			color: white;

			position: absolute;
			left: 0;
			bottom: 10rpx;
		}
	}
	navigator:nth-child(-n+2){ //选择其父元素下第1,2个子元素
		padding-bottom: 0;
	}
	navigator:nth-child(n+3){ //选择其父元素下第1,2个子元素
		padding-top: 0;
	}
}

.bottom{
	margin-top: 60rpx;
	margin-bottom: 0rpx;
	display: flex;
	justify-content: center;
	image{
		width: 70%;
	}
}

.search{
	height: 50rpx;
	margin-bottom: 20rpx;

	position: relative;
	navigator{
		width: 70%;

		background-color: #E6ECF0;
		border-radius: 20rpx;

		line-height: 50rpx;
		text-align: center;
		color: #657786;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
