page{
  background-color: white;
  padding: 20rpx;
}
.search_row{
  display: flex;
  align-items: center;
  input{
    background-color: white;
    border: #01B0F1 2px solid;
    border-radius: 20px;
    font-size: 40rpx;

  }
  button{
    width: 60rpx;
    height: 60rpx;
    background-color: white;
    border: #01B0F1 1px solid;
    border-radius: 20px;
    font-size: 35rpx;
  }
}
.search_content{
  navigator{
    font-size: 40rpx;
  }
}
