
.scenes{

}
.scene{
  height: 220rpx;
  border-bottom: 1px solid lightgray;
  position: relative;
  margin-bottom: 10rpx;
  //overflow: hidden;
  image{
    position: absolute;
    left: 0;
    top: 0rpx;
    width: 320rpx;
  }
  .name{
    width: 300rpx;
    font-size: 37rpx;
    font-family: STXingkai;
    position: absolute;
    right: 57rpx;
    top: 15rpx;
  }
  .level{
    font-size: 28rpx;
    color: red;

    position: absolute;
    right: 18rpx;
    top: 5rpx;
  }
  .price{
    font-size: 28rpx;

    position: absolute;
    right: 0rpx;
    top: 37rpx;
  }
  .slogan{
    font-size: 31rpx;
    font-family: KaiTi;

    color: dimgray;
    height: 130rpx;
    width: 400rpx;
    position: absolute;
    padding-left: 30rpx;
    right: 0rpx;
    top: 80rpx;
  }
}
.nigger{
  display: none;
}
